
:root{
 --clr-primary: #ffbe0b;
 --clr-secondary: #fb5607;
 --clr-grey01: rgb(82, 82, 82);
 --clr-grey05: rgb(164, 164, 164);
 --clr-grey10: rgb(211, 211, 211);
 --clr-white: #fff;
 --ff-primary: "Arial";
 --ff-secondary: "Roboto";
 --transition: all 0.3s linear;
 --letter-spacing: 0.4rem;
 --radius: 0.25rem;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


/* ==========NAVBAR*/


.navbar{
 text-transform: none;
 background: var(--clr-white);
 text-align: center;
 position: sticky;
 min-width: 100%;
 padding: 1rem 0;
 z-index: 1;
 height: 3rem;
 top: 0;

}


.nav-text{
 padding: 1rem;
 color: var(--clr-secondary);
}

.navbar a{
 text-decoration: none;
}
.nav-text:hover{
 font-size: 1.5rem;
 font-weight: 400;

 /* transition: var(--transition); */
 text-decoration: underline;
}

@media screen and (min-width: 567px){
 
}

@media screen and (min-width:992px){
 .nav-text{
  font-size: 1.5rem;
  padding: 2rem;
 }
 .navbar{
  height: 4rem;
 }
 .nav-text:hover{
  font-size: 2rem;
  font-weight: 400;
}
}

/* ==========HEADER */
.header{
 min-height: calc(100vh - 3rem);
 background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(157, 78, 5, 0.1)), url(..);
 min-height: calc(100vh-3rem);
 position:relative;
}


.banner{
  position: absolute;
  min-height: 50vh;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-transform: uppercase;
  /* border: 2px solid red; */
}

@media screen and (min-width:500px) {
  .banner{
    width: 40%;
 }
}
.banner h1{
 font-family: var(--ff-secondary);
 color: var(--clr-secondary);
 transform: translateY(-4rem);
 opacity: 0.7;
}




/* ==========TEST */



.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #0087ca;
 transform-origin: bottom right;
 transition: all 0.25s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}

/* LATEST PROJECTS */



/* Contact Me/Discuss your project */

/* FOOTER AND SOCIALS */
.footer{
  background: #222;
  display: block;
  text-align: center;
  font-style: var(--ff-secondary);
}

.social-icon{
  color: var(--clr-white);
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  padding: 1rem 1rem;

}

.social-icon:hover{
  color: var(--clr-primary);
}

.footer-text{
  margin-top: 1rem;
  text-transform: uppercase;
  color: var(--clr-white);
  font-weight: 400;
}


/* divider */
.content-divider{
  height: 0.5rem;
  background: linear-gradient(to left, var(--clr-primary), #49e4e9, var(--clr-secondary));
}