@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
 box-sizing: border-box;
}

body{
 background-image: url(../projectpictures/newyear.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 height: 100vh;
 color: #fff;
 font-style: 'Lato', sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 margin: 0;
 overflow: hidden;
}

/* add dark overlay */
body::after {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vw;
 background-color: rgba(0,0,0,0.5);
}

body *{
 z-index: 1;
}

h1 {
 font-size: 60px;
 margin: -80px 0 40px;
}

.year{
 font-size: 200px;
 z-index: -1;
 /* bottom: 20px;
 left: 50%;
 position: absolute;
 transform: translateX(-50%); */
}

.countdown{
 display: none;
 transform: scale(2);
}

.time{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 1rem;
}

.time h2{
 margin: 0 0 5px;
}

@media(max-width: 500px) {
 h1{
  font-size: 45px;
 }

 .time{
  margin: 5px;
 }

 .time h2{
  font-size: 12px;
  margin: 0;
 }

 .time small{
  font-size: 10px;
 }
}